{% extends 'base.html' %}

{% block title %}旅行日程表{% endblock %}

{% block content %}
<html>
 <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <title>旅行記録</title>
 </head>

 <body>
   <div class="border col-5">
     <h2>旅行計画表</h2>
     <!--入力フォーム -->
     <div class="row">
       <div class="co-md">
         <form action="#" id="form">
           <div class="form-group">
             <label>日付</label>
             <input type= "date" class="form-control" name="content1">
             <label>時間</label>
             <input type= "time" class="form-control" value="20:40" name="content2">
             <label>スケジュール</label>
             <input type= "text" class="form-control" name="content3">
             <label>メモ</label>
             <input type= "text" class="form-control" name="content4">
            </div>
            <input type="submit" value="登録する">
         </form>
        </div>
      </div>
    </div>
      <!--　入力結果を出力 -->
      <p id="output1"></p>
      <p id="output2"></p>
      <p id="output3"></p>
      <p id="output4"></p>


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

 </body>
 <script>
    // submit時にイベント実行をする関数
    document.getElementById('form').onsubmit = function (event) {
        // 再読み込み防止
        event.preventDefault();
        // 入力フォームの内容を取得
        let inputForm1 = document.getElementById('form').content1.value;
        let inputForm2 = document.getElementById('form').content2.value;
        let inputForm3 = document.getElementById('form').content3.value;
        let inputForm4 = document.getElementById('form').content4.value;
		// 入力内容を画面に出力
        document.getElementById('output1').textContent = `${inputForm1}`;
        document.getElementById('output2').textContent = `${inputForm2}`;
        document.getElementById('output3').textContent = `${inputForm3}`;
        document.getElementById('output4').textContent = `${inputForm4}`;
    }
</script>
</html>
{% endblock content %}
