{% extends 'mypage_top.html' %}

{% block title %}お気に入り登録済みスポット一覧{% endblock %}
{% block h1 %}お気に入り登録済みスポット一覧{% endblock %}

{% block content %}
<style>
  .col {
    margin-top: 20px;
  }
  .container {
    display: flex;
    margin-top: 20px;
  }
</style>

<p>あなたは現在{{ like_count }}箇所をお気に入り登録しています</p>



<!--<div class="container text-center">-->
  <div class="row row-cols-2">
    <!--<div class="container">-->
     {% for item in postlike_list %}
     {% if item.user_id == request.user %}
     <div class="col">
       <div class="card" style="width:400px;">
         {% if item.target.thumbnail %}
          <img src="{{ item.target.thumbnail.url }}" class="card-img-top" style="width:400px;height:280px">
         {% endif %}
         <div class="card-body">
           <p class="card-text" style="text-align: right"><small class="text-body-secondary">人気No.{{ item.target.number }}</small></p>
           <a href="{% url 'detail-post' item.target.pk %}"><h5 class="card-title">{{ item.target.number }}.{{ item.target.name }}</h5></a>
           <ul>
             {% if '鎌倉' in item.target.address  %}
             <li><img src="../../media/pin.png" style="width:20px;height:25px"> 鎌倉</li>
             {% endif %}
             <span><li><img src="../../media/tag.png" style="width:20px;height:20px">
             {% for genre in item.target.category.all %}
             {{ genre.name }}
             {% endfor %}
             </li></span>
             <li><img src="../../media/review.png" style="width:20px;height:20px"> {{ item.target.review_set.all.count }} 人</li>
           </ul>
         </div>
       </div>
     </div>
     {% endif %}
     {% endfor %}
    <!--</div>-->
  </div>
<!--</div>-->

{% endblock content %}
