{% extends 'base.html' %}

{% block title %}{{ object.name }}の詳細{% endblock %}
{% block h1 %}{{ object.name }}の詳細{% endblock %}

{% block extrajs %}
<style>
  /* 右寄せにするスタイル */
  .border-style{
    border: solid;
    border-color: #60a8f0;
    border-radius: 5px 5px 5px 5px;
  }

  .right-align {
      text-align: right;
  }

  .text{
    color: #60a8f0;
  }

  a {
    color:#f0a860;
  }

</style>

<script type="text/javascript">
  // いいねボタンが押された時
  document.getElementById('ajax-like').addEventListener('click', e => {
    e.preventDefault();
    const url = '{% url "postlike" %}';
    fetch(url, {
      method: 'POST',
      body: `post_pk={{ post.pk }}`,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': '{{ csrf_token }}',
      },
    }).then(response => {
      return response.json();
    }).then(response => {
      // いいね数を書き換える
      const counter = document.getElementById('like-count')
      counter.textContent = response.like_count
      const icon = document.getElementById('like-icon')
      // いいねした時はハートを塗る
      if (response.method == 'create') {
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-icon'
      } else {
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-icon'
      }
    }).catch(error => {
      console.log(error);
    });
  });
</script>
{% endblock %}


{% block content %}
<style>
  p.top {
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    padding: 5px;
    border-color: #f0a860;
  }
  .circle{
  display: inline-block;
  width: 80px;
  height: 50px;
  border-radius: 100vh;
  text-align:center;
  line-height: 40px;
  border-radius: 50%;
  border: solid 1px black;
  background: white;
}
.circle span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width :80px;
  text-align:center;
}

.button_1 {
  text-align: right;
}

</style>
<div class="border col" style="width:800px;">
  <div class="card">
    <img src="{{ object.thumbnail.url }}" class="card-img-top" style="width:800px;height:540px">
    <div class="card-body">
      {% if object.number <= '20' or object.number == '3' or object.number == '4' or object.number == '5' or object.number == '6' or object.number == '7' or object.number == '8' or object.number == '9' %}
      <p class="card-text" style="text-align: right"><small class="text-body-secondary">鎌倉人気スポットランキング第{{ object.number }}位</small></p>
      {% endif %}
      {% if is_user_liked %}
      <div style="text-align: right">
      <a class="circle"><button type="button" id="ajax-like" style="border:none;background:none">
        <!-- すでにいいねしている時はfasクラス -->
        <i class="fas fa-heart text-danger" id="like-icon"></i> 保存
      </button></a>
      </div>
      {% else %}
      <div style="text-align: right">
      <a class="circle"><button type="button" id="ajax-like" style="border:none;background:none">
        <!-- いいねしていないときはfarクラス -->
        <i class="far fa-heart text-danger" id="like-icon"></i> 保存
      </button></a>
      </div>
      {% endif %}

        <h4 class="card-title">{{ object.name }}</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <br>
            <p class="card-text top">基本情報</p>
            <ul>　　
              <li>住所：{{ object.address }}</li>
              <span><li>ジャンル：
              {% for item in object.category.all %}
              {{ item.name }}&nbsp;
              {% endfor %}
              </li></span>
              {% for review in item.review_set.all %}
              <li>口コミ数： {{ review.review_set.all.count }}人</li>
　　　　　　　　{% endfor %}
              <li>お気に入り登録数： <span id="like-count">{{ like_count }}</span></li>
            </ul>
          </li>
          <li class="list-group-item">
            <p class="card-text top">{{ object.name }}に関連する単語</p>
            {% if object.wordcloud %}
            <div style="text-align: center">
              <img src="{{ object.wordcloud.url }}" style="width:400px;height:225px">
            </div>
            {% endif %}
          </li>
          <li class="list-group-item">
            <p class="card-text top">口コミ</p>
            <div style="text-align: right">
               <a href="{% url 'review-post' object.pk %}" class="btn" style="background-color:#60a8f0">口コミを書く</a>
            </div>
            {% for review in object.review_set.all %}
            <div>
              <small class="text-body-secondary"><p class="card-text"></p>{{ review.user.username }}  さん</small>
              <h3 class="h4">{{ review.title }}</h3>
              <div class="px-2">
                <h6>評価：{{ review.rate }}点</h6>
                <p>コメント：{{ review.text }}</p>
              </div>
            </div>
            {% endfor %}
          </li>
        </ul>
   </div>
  </div>
</div>
<br>
<ul align="right">
  <li><a href="{% url 'list-post' %}">鎌倉のスポット一覧へ</a></li>
  <li><a href="{% url 'list-kamakura-itinerary-all' %}">このスポットがある地域の旅行記録を見る</a></li>
</ul>
{% endblock %}
