{% extends 'base.html' %}

{% block content %}

<!-- 検索フォーム -->
<!--<form class="mt-2" id="search-form" action="" method="GET">
  <div class="mt-2 inline">

    {{ search_form_genre.category_genre }}
     <button class="btn btn-info ml-4" type="submit">検索</button>
  </div>
</form>-->

<table class="table mt-3">
  <tr>
    <th>スポット名</th>
    <th>エリア</th>
  </tr>
  {% for address in address_list %}
    <tr>
      <td>
        {% if address.description %}
        {{ address.description }}
        {% endif %}
      </td>
      <td>{{ address.category_address }}</td>
    </tr>
  {% endfor %}
</table>

<table class="table mt-3">
  <tr>
    <th>スポット名</th>
    <th>ジャンル</th>
  </tr>
  {% for genre in genre_list %}
    <tr>
      <td>
        {% if genre.description %}
        {{ genre.description }}
        {% endif %}
      </td>
      <td>{{ genre.category_genre }}</td>
      <!--<td>{{ genre.category_genre }}</td>-->
    </tr>
  {% endfor %}
</table>



{% endblock %}
