{% extends 'base.html' %}

{% block title %}トップページA{% endblock %}

{% block content %}
<html>
 <head>
   <title>トップページA</title>
 </head>
 <body>

  <div class="container">
   <!--<ul class="class1">
     <a>カテゴリー</a>
     <li><a href="{% url 'map_restaurant' %}">飲食店</a></li>
     <li><a href="{% url 'map_leisure' %}">レジャー施設</a></li>
     <li><a href="{% url 'map_shrine' %}">神社・寺院</a></li>
     <li><a href="{% url 'map_museum' %}">博物館・美術館</a></li>
     <li><a href="{% url 'map_hotspring' %}">温泉</a></li>
     <li><a href="{% url 'map_event' %}">イベント</a></li>
   </ul>-->
   <div class="wrap">
      <iframe src="https://www.google.com/maps/d/u/4/embed?mid=19BBjbY7WuOh4sSvQ8LzkW0OTeGazTwk&ehbc=2E312F" width="640" height="480"></iframe>
   </div>

  </div>
  <a href="{% url 'map_restaurant' %}">スポットを見る</a>
 </body>
</html>

{% endblock content %}
