a {
  text-decoration: none;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  weight: 50%;
}

/* ボタン */
.btn {
  font-size: 1.375rem;
  display: block;
  width: 300px;
  margin:auto;
  padding: 18px 32px;
  border-radius: 5px;
  background-color: #ffbf1f;
  padding: 10px;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
}

.item{
  margin: 10px;
  padding: 10px;
}

.wrap{
  text-align: right;
  padding: 30px;
}

ul.class1 {
  width: 200px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
}

th,td {
  border:solid 1px;
}
table {
  text-align: center;
  border-collapse: collapse;
  width: 500px;
  height: 100px;
}
input.button {
  background-color: #ffbf1f;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  padding: 6px 12px;
}

/*
input.button:hover{
  background: #0090aa;
}
*/
