{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block h1 %}旅行日程表詳細{% endblock %}

{% block content %}
   <div class="border col-7">
     <div class="card">
       <h5 class="card-header">{{ object.title }}</h5>
       <div class="card-body">

           <ul class="list-group list-group-flush">
             <li class="list-group-item">
               <ul>
                 <li>同行者： {{ object.companion }}</li>
                 <li>滞在日数： 2泊3日（11月26日〜11月28日)</li>
               </ul>
             </li>
             <li class="list-group-item">
               {% for review in object.review_set.all %}
               <p class="card-text" style="text-align: center">{{ review.text }}</p>
               <small class="text-body-secondary" style="text-align: right"><p class="card-text">旅程表に対する評価：{{ review.rate_1 }}点</p></small>
               <small class="text-body-secondary" style="text-align: right"><p>旅行に対する評価：{{ review.rate_2 }}点</p></small>
               <p class="card-text">{{ review.text }}</p>
               {% endfor %}
             </li>
             <li class="list-group-item">
               <table align="center">
               <tr><th width="60">日付</th><th width="60">時間</th><th width="380">スケジュール</th></tr>
               <tr>
                 <td rowspan="4">{{ object.date_1|date:"Y-m-j" }}</td>
                 <td width="90">{{ object.time_1|date:"H-i" }}</td>
                 <td>{{ object.schedule_1 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_2|date:"H-i" }}</td>
                 <td>{{ object.schedule_2 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_3|date:"H-i" }}</td>
                 <td>{{ object.schedule_3 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_4|date:"H-i" }}</td>
                 <td>{{ object.schedule_4 }}</td>
               </tr>
               <tr>
                 <td rowspan="4">{{ object.date_2|date:"Y-m-j" }}</td>
                 <td width="90">{{ object.time_5|date:"H-i" }}</td>
                 <td>{{ object.schedule_5 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_6|date:"H-i" }}</td>
                 <td>{{ object.schedule_6 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_7|date:"H-i" }}</td>
                 <td>{{ object.schedule_7 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_8|date:"H-i" }}</td>
                 <td>{{ object.schedule_8 }}</td>
               </tr>
               <tr>
                 <td rowspan="4">{{ object.date_3|date:"Y-m-j" }}</td>
                 <td width="90">{{ object.time_9|date:"H-i" }}</td>
                 <td>{{ object.schedule_9 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_10|date:"H-i" }}</td>
                 <td>{{ object.schedule_10 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_11|date:"H-i" }}</td>
                 <td>{{ object.schedule_11 }}</td>
               </tr>
               <tr>
                 <td width="90">{{ object.time_12|date:"H-i" }}</td>
                 <td>{{ object.schedule_12 }}</td>
               </tr>
               </table>
             </li>
           </ul>

      </div>
     </div>
 </div>

      <!--<a href="{% url 'review-itinerary' object.pk %}" class="btn btn-light">旅行記録を書く</a>-->
      <a href="{% url 'list-itinerary' %}" class="btn btn-light">一覧へ</a>
      <a href="{% url 'update-itinerary' object.pk %}" class="btn btn-light">修正する</a>
      <!--<a href="{% url 'delete-itinerary' object.pk %}" class="btn btn-light">削除する</a>-->


{% endblock %}
