{% extends 'base.html' %}

{% block title %}ユーザーの旅行記録{% endblock %}
{% block h1 %}ユーザーの旅行記録{% endblock %}


{% block content %}
   <!--formを追加-->

   <style>
     .container {
       display: flex;
       gap: 80px;
       margin-top: 20px;
       margin-left: 100px;
     }
     ul li{
       list-style:none;
     }
   </style>
   <form action="" method="get"><!-- getメソッドでインデックス関数を呼び出す -->
     <input name="query" value="{{ request.GET.query }}"　type="text" placeholder=" エリア名を入力 "/>
     <button type="submit">検索</button>
     <a href="./">クリア</a>
   </form>

    <div class="row row-cols-2">
    <!--<div class="container">-->
    {% for item in object_list %}
    {% if item.category|stringformat:"s" == "記入済み" %}
    <div class="col">
      <div class="card" style="width:450px;">
        <img src="../../media/kamakura.jpg" class="card-img-top" style="width:450px;height:280px">
        <div class="card-body">
          {% for review in item.review_set.all %}
            <a href="{% url 'detail-itinerary-all' item.pk %}"><h5 class="card-title">{{ review.title }}</h5></a>
          {% endfor %}
          <ul>
            <li>{{ item.category }}</li>
            <li><img src="../../media/pin.png" style="width:20px;height:25px">{{ item.title }}</li>
            <li><img src="../../media/people.png" style="width:20px;height:25px">{{ item.companion }}</li>
            <li><img src="../../media/calender.png" style="width:20px;height:20px"> 2泊3日（11月26日〜11月28日)</li>
          </ul>
          <hr>
          <small class="text-body-secondary"><p class="card-text" style="text-align: right">by {{ item.contributer }} さん</p></small>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <!--</div>-->
    </div>
    <!--<a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>-->
{% endblock content %}
