{% extends 'base.html' %}

{% block title %}鎌倉旅行記録一覧(全体向け){% endblock %}
{% block h1 %}鎌倉旅行記録一覧(全体向け){% endblock %}


{% block content %}

    {% for item in object_list %}
    {% if item.category|stringformat:"s" == "記入済み" and item.title|stringformat:"s" == "鎌倉" %}


    <div class="card">
      <h5 class="card-header">{{ item.title }}</h5>


      <div class="card-body">
        <p>ユーザー名:  {{ item.contributer }}</p>

        <table>
        <tr><th width="60">日付</th><th width="60">時間</th><th width="380">スケジュール</th></tr>
        <tr>
          <td rowspan="4">{{ item.date_1|date:"Y-m-j" }}</td>
          <td width="90">{{ item.time_1|date:"H-i" }}</td>
          <td>{{ item.schedule_1 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_2|date:"H-i" }}</td>
          <td>{{ item.schedule_2 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_3|date:"H-i" }}</td>
          <td>{{ item.schedule_3 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_4|date:"H-i" }}</td>
          <td>{{ item.schedule_4 }}</td>
        </tr>
        <tr>
          <td rowspan="4">{{ item.date_2|date:"Y-m-j" }}</td>
          <td width="90">{{ item.time_5|date:"H-i" }}</td>
          <td>{{ item.schedule_5 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_6|date:"H-i" }}</td>
          <td>{{ item.schedule_6 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_7|date:"H-i" }}</td>
          <td>{{ item.schedule_7 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_8|date:"H-i" }}</td>
          <td>{{ item.schedule_8 }}</td>
        </tr>
        <tr>
          <td rowspan="4">{{ item.date_3|date:"Y-m-j" }}</td>
          <td width="90">{{ item.time_9|date:"H-i" }}</td>
          <td>{{ item.schedule_9 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_10|date:"H-i" }}</td>
          <td>{{ item.schedule_10 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_11|date:"H-i" }}</td>
          <td>{{ item.schedule_11 }}</td>
        </tr>
        <tr>
          <td width="90">{{ item.time_12|date:"H-i" }}</td>
          <td>{{ item.schedule_12 }}</td>
        </tr>


        </table>
        <a href="{% url 'detail-itinerary-all' item.pk %}">詳細へ</a>
      </div>
    </div>

    {% endif %}
    {% endfor %}

    <a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>
{% endblock content %}
