{% extends 'base.html' %}

{% block title %}鎌倉を訪れたユーザーの旅行記録{% endblock %}
{% block h1 %}鎌倉を訪れたユーザーの旅行記録{% endblock %}


{% block content %}
　　<div class="row row-cols-2">
    {% for item in object_list %}
    {% if item.category|stringformat:"s" == "記入済み" and item.title|stringformat:"s" == "鎌倉" %}
    <div class="col">
      <div class="card" style="width:450px;">
        <img src="../../media/kamakura.jpg" class="card-img-top" style="width:450px;height:280px">
        <div class="card-body">
          {% for review in item.review_set.all %}
            <a href="{% url 'detail-itinerary-all' item.pk %}"><h5 class="card-title">{{ review.title }}</h5></a>
          {% endfor %}
          <ul>
            <li><img src="../../media/pin.png" style="width:20px;height:25px">{{ item.title }}</li>
            <li><img src="../../media/people.png" style="width:20px;height:25px"> 友人</li>
            <li><img src="../../media/calender.png" style="width:20px;height:20px"> 2泊3日（11月26日〜11月28日)</li>
          </ul>
          <hr>
          <small class="text-body-secondary"><p class="card-text" style="text-align: right">by {{ item.contributer }} さん</p></small>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <!--<a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>-->
{% endblock content %}
