{% extends 'base.html' %}

{% block title %}ユーザーの旅行記録{% endblock %}
{% block h1 %}ユーザーの旅行記録{% endblock %}


{% block content %}
   <!--formを追加-->

   <style>
     .container {
       display: flex;
       gap: 80px;
       margin-top: 20px;
       margin-left: 200px;
     }
     ul li{
       list-style:none;
     }
     .col {
       margin-top: 20px;

     }
   </style>
   <!--<form action="" method="get"><!-- getメソッドでインデックス関数を呼び出す -->
     <!--<input name="query" value="{{ request.GET.query }}"　type="text" placeholder=" エリア名を入力 "/>
     <button type="submit">検索</button>
     <a href="./">クリア</a>
   </form>-->
   <form action="" method="get" class="mb-5" enctype="multipart/form-data"><!--{% csrf_token %}-->
   <div class = "form-row">
       <div class = "col-5">
         <div class="BoxList">
           <ul>
             <li class="c2"><label><input type="checkbox" class="checks" name="query" value="家族">家族</label></li>
             <li class="c2"><label><input type="checkbox" class="checks" name="query" value="友人・知人">友人・知人</label></li>
             <li class="c2"><label><input type="checkbox" class="checks" name="query" value="ひとり旅">ひとり旅</label></li>
             <li class="c2"><label><input type="checkbox" class="checks" name="query" value="カップル・夫婦">カップル・夫婦</label></li>
           </ul>
           <button type="submit" class="btn btn-light" style="background-color:#60a8f0">検索する</button>
           <a href="./"  class="btn btn-light" style="background-color:#60a8f0">クリア</a>
         </div>
       </div>
   </div>
 </form>

    <div class="row row-cols-2">
    {% for item in object_list %}
    {% if item.category|stringformat:"s" == "記入済み" %}
    <div class="col">
      <div class="card" style="width:450px;">
        {% for review in item.review_set.all %}
        {% if review.record %}
        <img src="{{ review.record.url }}" class="card-img-top" style="width:450px;height:280px">
        {% endif %}
        {% endfor %}
        <div class="card-body">
          {% for review in item.review_set.all %}
            <a href="{% url 'detail-itinerary-all' item.pk %}"><h5 class="card-title">{{ review.title }}</h5></a>
          {% endfor %}
          <ul>
            <li><img src="../../media/pin.png" style="width:20px;height:25px"> {{ item.title }}</li>
            <li><img src="../../media/people.png" style="width:20px;height:25px"> {{ item.companion }}</li>
            {% if item.date_3 == null %}
            <li><img src="../../media/calender.png" style="width:20px;height:20px"> {{ item.date_1|date:"Y-m-j" }} 〜 {{ item.date_2|date:"Y-m-j" }}</li>
            {% else %}
            <li><img src="../../media/calender.png" style="width:20px;height:20px"> {{ item.date_1|date:"Y-m-j" }} 〜 {{ item.date_3|date:"Y-m-j" }}</li>
            {% endif %}
          </ul>
          <hr>
          <small class="text-body-secondary"><p class="card-text" style="text-align: right">by {{ item.contributer }} さん</p></small>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <!--<a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>-->
{% endblock content %}
