{% extends 'base.html' %}

{% block title %}ユーザーの旅行記録詳細{% endblock %}
{% block h1 %}ユーザーの旅行記録詳細{% endblock %}

{% block content %}
<div class="border col">
  <div class="card">
    <img src="../../../media/kamakura.jpg" class="card-img-top">
    <div class="card-body">
      {% for review in object.review_set.all %}
        <b><h5 class="card-title">{{ review.title }}</h5></b>
      {% endfor %}
      <!--<div class="card">-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">by {{ object.contributer }} さん</li>
          <li class="list-group-item">
            <ul>
              <li>エリア：<a href="{% url 'list-post' %}"> {{ object.title }}</a></li>
              <li>同行者： {{ object.companion }}</li>
              {% if object.date_3 == null %}
              <li>滞在日程：{{ object.date_1|date:"Y-m-j" }} 〜 {{ object.date_2|date:"Y-m-j" }}</li>
              {% else %}
              <li>滞在日程：{{ object.date_1|date:"Y-m-j" }} 〜 {{ object.date_3|date:"Y-m-j" }}</li>
              {% endif %}
            </ul>
          </li>
          <li class="list-group-item">
            {% for review in object.review_set.all %}
            <small class="text-body-secondary" style="text-align: right"><p class="card-text">旅程表に対する評価：{{ review.rate_1 }}点</p></small>
            <small class="text-body-secondary" style="text-align: right"><p>旅行に対する評価：{{ review.rate_2 }}点</p></small>
            <p>{{ review.text }}</p>
            {% endfor %}
          </li>
          <li class="list-group-item">
            <table align="center">
            <tr><th width="60">日付</th><th width="60">時間</th><th width="380">スケジュール</th></tr>
            <tr>
              <td rowspan="4">{{ object.date_1|date:"Y-m-j" }}</td>
              <td width="90">{{ object.time_1|date:"H-i" }}</td>
              <td>{{ object.schedule_1 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_2|date:"H-i" }}</td>
              <td>{{ object.schedule_2 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_3|date:"H-i" }}</td>
              <td>{{ object.schedule_3 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_4|date:"H-i" }}</td>
              <td>{{ object.schedule_4 }}</td>
            </tr>
            <tr>
              <td rowspan="4">{{ object.date_2|date:"Y-m-j" }}</td>
              <td width="90">{{ object.time_5|date:"H-i" }}</td>
              <td>{{ object.schedule_5 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_6|date:"H-i" }}</td>
              <td>{{ object.schedule_6 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_7|date:"H-i" }}</td>
              <td>{{ object.schedule_7 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_8|date:"H-i" }}</td>
              <td>{{ object.schedule_8 }}</td>
            </tr>
            <tr>
              <td rowspan="4">{{ object.date_3|date:"Y-m-j" }}</td>
              <td width="90">{{ object.time_9|date:"H-i" }}</td>
              <td>{{ object.schedule_9 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_10|date:"H-i" }}</td>
              <td>{{ object.schedule_10 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_11|date:"H-i" }}</td>
              <td>{{ object.schedule_11 }}</td>
            </tr>
            <tr>
              <td width="90">{{ object.time_12|date:"H-i" }}</td>
              <td>{{ object.schedule_12 }}</td>
            </tr>
            </table>
          </li>
        </ul>
      <!--</div>-->
   </div>
  </div>
</div>
<br>
<ul align="right">
  <li><a href="{% url 'list-itinerary-all' %}">一覧へ</a></li>
</ul>
<!--<a href="{% url 'review-itinerary' object.pk %}" class="btn btn-light">旅行記録を書く</a>-->
<!--<a href="{% url 'update-itinerary' object.pk %}" class="btn btn-light">修正する</a>-->
<!--<a href="{% url 'delete-itinerary' object.pk %}" class="btn btn-light">削除する</a>-->
{% endblock %}
