{% extends 'base.html' %}

{% block title %}旅行記録作成画面{% endblock %}
{% block h1 %}旅行記録作成画面{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data" class="p-4 m-4 bg-light border border-info rounded form-group">
    {% csrf_token %}
    <label>
      レビューする旅行
    </label>
    <input class = "form-control" value="{{ itinerary.title }}" readonly>
    <label>
      タイトル
    </label>
    <input class = "form-control" name="title">
    <label>
      コメント
    </label>
    <textarea class="form-control" name="text" rows="3" placeholder="ここには、訪れた観光スポットや旅程表に対する感想、行ってみないと分からない情報(道の歩き易さや混み具合など)、交通手段 、旅行中に困ったことなどを記入しましょう。"></textarea>
    <label>
      観光費
    </label>
    <!--<textarea class="form-control" name="cost1" rows="1" cols="2"></textarea>-->
    <select class="form-control" name="cost1">
      <option value="1000">1000円未満</option>
      <option value="2000">1000円〜2000円</option>
      <option value="3000">2000円〜3000円</option>
      <option value="4000">3000円〜4000円</option>
      <option value="5000">5000円〜6000円</option>
      <option value="6000">6000円以上</option>
    </select>
    <label>
      宿泊費
    </label>
    <!--<textarea class="form-control" name="cost2" rows="1" cols="8"></textarea>-->
    <select class="form-control" name="cost2">
      <option value="1000">5000円未満</option>
      <option value="2000">5000円〜10000円</option>
      <option value="3000">10000円以上</option>
    </select>
    <label>
      交通費
    </label>
    <!--<textarea class="form-control" name="cost3" rows="1" cols="8"></textarea>-->
    <select class="form-control" name="cost3">
      <option value="1000">1000円未満</option>
      <option value="2000">1000円〜2000円</option>
      <option value="3000">2000円〜3000円</option>
      <option value="4000">3000円〜4000円</option>
      <option value="5000">5000円〜6000円</option>
      <option value="6000">6000円以上</option>
    </select>
    <label>
      その他費用
    </label>
    <!--<textarea class="form-control" name="cost4" rows="1" cols="8"></textarea>-->
    <select class="form-control" name="cost4">
      <option value="1000">1000円以上</option>
      <option value="2000">1000円〜2000円</option>
      <option value="3000">2000円〜3000円</option>
      <option value="4000">3000円〜4000円</option>
      <option value="5000">5000円〜6000円</option>
      <option value="6000">6000円未満</option>
    </select>
    <label>
      星の数(計画に対する評価)
    </label>
    <select class="form-control" name="rate_1">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>

    <label>
      星の数(旅行に対する評価)
    </label>
    <select class="form-control" name="rate_2">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>

    <label>
      写真
    </label>
    <br>
    <input type="file" name="record">

    <input type="hidden" name='itinerary' value="{{ itinerary.id }}">
    <br>
    <div style="text-align: center">
      <button type="submit" class="btn" style="background-color:#60a8f0">投稿する</button>
    </div>

  </form>
    <!--<a href="{% url 'update-itinerary' itinerary.pk %}">旅行記録の記入状況を変更する</a>-->

{% endblock %}
