{% extends 'base.html' %}

{% block title %}旅行記録作成画面{% endblock %}
{% block h1 %}旅行記録作成画面{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data" class="p-4 m-4 bg-light border border-info rounded form-group">
    {% csrf_token %}
    <label>
      レビューする旅行
    </label>
    <input class = "form-control" value="{{ itinerary.title }}" readonly>
    <label>
      タイトル
    </label>
    <input class = "form-control" name="title">
    <label>
      コメント
    </label>
    <textarea class="form-control" name="text" rows="3"></textarea>
    <label>
      星の数(計画に対する評価)
    </label>
    <select class="form-control" name="rate_1">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>

    <label>
      星の数(旅行に対する評価)
    </label>
    <select class="form-control" name="rate_2">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>

    <label>
      写真
    </label>
    <br>
    <input type="file" name="record">

    <input type="hidden" name='itinerary' value="{{ itinerary.id }}">
    <br>
    <div style="text-align: center">
      <button type="submit" class="btn" style="background-color:#60a8f0">投稿する</button>
    </div>

  </form>
    <!--<a href="{% url 'update-itinerary' itinerary.pk %}">旅行記録の記入状況を変更する</a>-->

{% endblock %}
