a {
  text-decoration: none;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  weight: 50%;
}

.container {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.container2 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 10px;
 justify-items: center;
 grid-template-rows: 200px 200px 200px 200px 200px;
}


.main {
  display: flex;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
}

.main {
        width: 1200px;
        margin: auto;
    }

.item {
  width: 100px;
  height: 400px;
  margin: 20px !important;
  border: #8d3d47 solid 2px;
  position: relative;

}



.wrap{
  text-align: right;
  padding: 30px;
}

ul.class1 {
  width: 200px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
}

th,td {
  border:solid 1px;
}
table {
  text-align: center;
  border-collapse: collapse;
  width: 500px;
  height: 100px;
}
/*
input.button {
  background-color: #ffbf1f;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  padding: 6px 12px;
}
*/
/*
.flex {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.flex {
  width: 500px;
  margin: auto;
}

input.button:hover{
  background: #0090aa;
}
*/

.thumbnail {
    text-align: center;
}

.thumbnail img {
    padding-top: 30px;
}
