<!--現在地からある地点までの移動距離を表示する(成功)-->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        weight: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div><p id="route-time"></p></div>
    <div id="map"></div>

    <script>
      var directionsService;
      var directionsRenderer;
      var distanceMatrixservice;
      var map;


function initMap() {
  directionsService = new google.maps.DirectionsService();
  directionsRenderer = new google.maps.DirectionsRenderer();
  distanceMatrixservice = new google.maps.DistanceMatrixService();



  //マップを生成して表示
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.658155, lng: 139.70182},
    zoom: 10
  });

  // 地図描画
  directionsRenderer.setMap(map);

  //ブラウザが対応している場合、position にユーザーの位置情報が入る
  navigator.geolocation.getCurrentPosition(function(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    //position から緯度経度（ユーザーの位置）のオブジェクトを作成し変数に代入
    /*
    var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    */


    // 所要時間取得
    var request0 = {
      origins: [lat +"," + lng], // 出発地
      //origins: pos, // 出発地
 		  destinations: ["35.327359" + "," + "139.556062"], // 目的地
 		  travelMode: 'DRIVING',  // 移動手段
    };

    distanceMatrixservice.getDistanceMatrix(request0, function(response, status){
      if(status == "OK") {
      var origins = response.originAddresses;
      var destinations = response.destinationAddresses;

            for (var i = 0; i < origins.length; i++) {
              var results = response.rows[i].elements;
              for (var j = 0; j < results.length; j++) {
                var element = results[j];
                var distance = element.distance.text;
                var duration = element.duration.text;
                var from = origins[i];
                var to = destinations[j];
              }
             }
        var routeTime = document.getElementById("route-time");

        routeTime.innerHTML = "車でおよそ" + duration + "で着きます"
      }


    });


    // ルートを取得するリクエスト

    var request = {
      origin: lat +"," + lng,      // 出発地点の緯度経度（ユーザーの位置）
      destination: "35.327359" + "," + "139.556062",  // 到着地点
      //destination:{ lat: 35.658155, lng: 139.70182 },
      travelMode: 'DRIVING',  //公共交通機関

    };

    //DirectionsService のオブジェクトのメソッド route() にリクエストを渡し、
    //コールバック関数で結果を setDirections(result) で directionsRenderer にセットして表示
    directionsService.route(request, function(result, status) {
      //ステータスがOKの場合、
      if (status === 'OK') {
        directionsRenderer.setDirections(result); //取得したルート（結果：result）をセット
      }else{
        alert("取得できませんでした：" + status);
      }
    });



  }, function() {  //位置情報の取得をユーザーがブロックした場合のコールバック
    //情報ウィンドウの位置をマップの中心位置に指定
    infoWindow.setPosition(map.getCenter());
    //情報ウィンドウのコンテンツを設定
    infoWindow.setContent('Error: Geolocation が無効です。');
    //情報ウィンドウを表示
    infoWindow.open(map);
  });

}



</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiugR_kRyfmu3OjnFbB1QL0qcdB-pfSb0&callback=initMap"
    async defer></script>
  </body>
</html>
