<!--現在地とその円周を表示する-->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        weight: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div><p id="route-time"></p></div>
    <div id="map"></div>

    <script>
      function initMap() {
        function success(pos) {
          var lat = pos.coords.latitude;
          var lng = pos.coords.longitude;
          var latlng = new google.maps.LatLng(lat, lng); //中心の緯度, 経度
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
			      center: latlng
          });
          var marker = new google.maps.Marker({
            position: latlng, //マーカーの位置（必須）
			      map: map //マーカーを表示する地図
          });

          /*鎌倉市を中心に円を表示する*/
          var myCircle_330 = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            //fillColor: '#FF0000',
            //fillOpacity: 0.35,
            map: map,
            center: latlng,
            //center: {lat: 35.323791, lng: 139.54749},
            //draggable: true,  //円をドラッグできるように
            radius: 330  //半径1000メートル
          });

          var myCircle_1000 = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            //fillColor: '#FF0000',
            //fillOpacity: 0.35,
            map: map,
            //center: {lat: 35.323791, lng: 139.54749},
            center: latlng,
            //draggable: true,  //円をドラッグできるように
            radius: 1000  //半径1000メートル
          });

          var myCircle_2000 = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            //fillColor: '#FF0000',
            //fillOpacity: 0.35,
            map: map,
            //center: {lat: 35.323791, lng: 139.54749},
            center: latlng,
            //draggable: true,  //円をドラッグできるように
            radius: 2000  //半径1000メートル
          });

        }
        navigator.geolocation.getCurrentPosition(success);




      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiugR_kRyfmu3OjnFbB1QL0qcdB-pfSb0&callback=initMap"
    async defer></script>
  </body>
</html>
