<!--現在地とその円周を表示する-->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        weight: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="map"></div>
    <p><button id="method">メソッドを実行</button><button id="reset">リセット</button></p>
    <p><textarea id="response"></textarea></p>

    <script>
    function initialize() {
var mapDiv = document.getElementById( "map" ) ;

var responseTextarea = document.getElementById( "response" ) ;
responseTextarea.value = "" ;

// Map
var map = new google.maps.Map( mapDiv, {
  center: new google.maps.LatLng( 35, 139 ) ,
  zoom: 15 ,
} ) ;

// InfoWindow
var infoWindow = new google.maps.InfoWindow( {
  position: new google.maps.LatLng( 35, 139 ) ,
  content: "SYNCER" ,
} ) ;

// set center
map.setCenter( infoWindow.getPosition() ) ;

// Method
document.getElementById( "method" ).onclick = function () {
  var response = infoWindow.open( map ) ;
  try{ response = typeof response == "object" ? JSON.stringify( response ) : response ; }catch(e){}
  responseTextarea.value = response ;

}
}

// Reset
document.getElementById( "reset" ).onclick = initialize ;

initialize() ;
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiugR_kRyfmu3OjnFbB1QL0qcdB-pfSb0&callback=initMap"
    async defer></script>
  </body>
</html>
