<!--現在地とピンの表示-->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        weight: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        border-style: solid;
        margin-left: 30px;
      }

      table.d_table{
        border-style: solid;
        margin-left: auto;
        margin-right: auto
      }

      .container {
        display:flex;
        gap: 350px;

      }
      .container2{
        border-style: solid;
        padding: 10px;
      }

      ul li{
        list-style:none;
  　　}
     .c2 {
       padding-left: 2em;
     }

     a:hover{
       cursor: pointer;
     }




   </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-info sticky-top">
      <div class="navbar-nav d-flex flex-row">
        <a class="navbar-brand text-light" href="{% url 'topA' %}">ほっとりっぷ</a>
        <!--<a class="nav-link mx-3" href="{% url 'create-itinerary' %}"> 旅行日程表を作成する </a>-->
        <a class="nav-link mx-3" href="{% url 'list-itinerary-all' %}"> 旅行記録を閲覧する </a>
        <!--<a class="nav-link mx-3" href="{% url 'move_to_record' %}"> 旅行記録を作成する </a>-->
        <a class="nav-link mx-3" href="{% url 'list-post' %}"> 口コミを閲覧・投稿する </a>
        <!--<a class="nav-link mx-3" href="{% url 'create-post' %}"> 口コミ登録 </a>-->
        <a class="nav-link mx-3" href="{% url 'move_to_mypage' %}"> マイページ(旅程表作成・閲覧) </a>
        <!--<a class="nav-link mx-3" href="{% url 'move_to_traveling' %}"> 現在旅行中の方はこちら </a>-->
      </div>
      <div class="narbar-nav d-flex flex-row">
        {% if request.user.is_authenticated %}
          <a class="nav-link mx-3" href="{% url 'accounts:logout' %}">Logout</a>

        {% else %}
          <a class="nav-link mx-3" href="{% url 'accounts:login' %}">Login</a>
          <a class="nab-link mx-3" href="{% url 'accounts:signup' %}">Sign up</a>

        {% endif %}

      </div>
    </nav>

    <div id="map"></div>
    <!--検索-->
    <!--<div class="checkAllBox">
      <label><input type="checkbox" class="partsCheck" id="checkAll" checked><span>すべて</span></label>
    </div>-->


    <!--ここまで-->


    <div class="container">
      <div class="BoxList">
        <!--<p>選択した値 <span id="span1"></span></p>-->
        <ul>
          <li class="c1"><label><input type="checkbox" id="checkAll" name="chk1" value="checkall" checked>全て選択</label>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="ごはん" checked>ごはん</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="カフェ・パン・スイーツ・お菓子" checked>カフェ・パン・スイーツ・お菓子</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="イベント" checked>イベント</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="風景・景色" checked>風景・景色</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="アート・カルチャー" checked>アート・カルチャー</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="お土産・お酒・雑貨" checked>お土産・お酒・雑貨</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="神社・寺院" checked>神社・寺院</label></li>
          <li class="c2"><label><input type="checkbox" class="checks" name="chk1" value="アクティビティ・体験・その他施設" checked>アクティビティ・体験・その他施設</label></li>
        </ul>
        <input type="button" value="検索" onclick="clickBtn1()"></input>

        <font color="#6495ed"><a onclick="window.location.reload()"　href="#" id="reset">表示をリセットする</a></font>
        <!--<font color="#6495ed"><button id="reset">表示をリセットする</button></font>-->

      </div>
      <div class="container2">
        <div>
          <ul>
            <li><<b>スポットのカテゴリー</b>></li>
            <li><span style="color: #ffdc00; font-size: 18px;">●</span>：ごはん</li>
            <li><span style="color: #ff0000; font-size: 18px;">●</span>：カフェ・パン・スイーツ・お菓子</li>
            <li><span style="color: #00bfff; font-size: 18px;">●</span>：イベント</li>
            <li><span style="color: #ee7800; font-size: 18px;">●</span>：風景・景色</li>
            <li><span style="color: #ffa0ed; font-size: 18px;">●</span>：アート・カルチャー</li>
            <li><span style="color: #a260bf; font-size: 18px;">●</span>：お土産・お酒・雑貨</li>
            <li><span style="color: #3333FF; font-size: 18px;">●</span>：神社・寺院</li>
            <li><span style="color: #008000; font-size: 18px;">●</span>：アクティビティ・体験・その他施設</li>
          </ul>
        </div>
        <div>
          <ul>
            <li><<b>現在地からの距離</b>></li>
            <li><font color="#028760">緑</font>：徒歩5分圏内</li>
            <li><font color="#ff0000">赤</font>：徒歩15分圏内</li>
            <li><font color="#0095d9">青</font>：徒歩30分圏内</li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <table id='data-table' class="d_table">
        <tr><th>スポット名</th></tr>
      </table>
    </div>

    <script>
      //document.getElementById( "reset" ).onclick = initMap;
      /*検索フォーム*/
      //「全て選択」のチェックボックス
      let checkAll = document.getElementById("checkAll");
      //「全て選択」以外のチェックボックス
      let el = document.getElementsByClassName("checks");

      //全てのチェックボックスをON/OFFする
      const funcCheckAll = (bool) => {
        for (let i = 0; i < el.length; i++) {
            el[i].checked = bool;
        }
      }

      //「checks」のclassを持つ要素のチェック状態で「全て選択」のチェック状態をON/OFFする
      const funcCheck = () => {
        let count = 0;
        for (let i = 0; i < el.length; i++) {
             if (el[i].checked) {
                  count += 1;
             }
         }

         if (el.length === count) {
             checkAll.checked = true;
        } else {
           checkAll.checked = false;
        }
      };

      //「全て選択」のチェックボックスをクリックした時
      checkAll.addEventListener("click",() => {
           funcCheckAll(checkAll.checked);
      },false);

      //「全て選択」以外のチェックボックスをクリックした時
      for (let i = 0; i < el.length; i++) {
           el[i].addEventListener("click", funcCheck, false);
      }



      var arr;
      var chk1;

      var tableEle;
/*
      function clickBtn1() {
        arr = [];
        chk1 = document.getElementsByName("chk1");

        for (let i = 0; i < chk1.length; i++) {
            if (chk1[i].checked) {//(chk1[i].checked === true)と同じ
               arr.push(chk1[i].value);
            }
         }
         document.getElementById("span1").textContent = arr;
       }

      /*ここまで*/

      function clickBtn1() {
        //arr = "決定ボタンが押されました。マップ上に表示するには「表示する」ボタンを押してください。"
        chk1 = document.getElementsByName("chk1");
        //document.getElementById("span1").textContent = arr;

        var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                  setMarker(JSON.parse(this.responseText));
               }
               //for (let i = 0; i < chk1.length; i++) {
                // if ( this.readyState == 4 && this.status == 200 && chk1[i].checked) {//(chk1[i].checked === true)と同じ
                //   setMarker(JSON.parse(this.responseText));
                // }
               //}
          };
          xhttp.open("GET", "api/map?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();
/*
          if(tableEle.length!=0){
            window.location.reload();
            clickBtn1()
          }
         */

       }


      var map;
      var marker;
      var circle;


      /**
       * The CenterControl adds a control to the map that recenters the map on
       * Chicago.
       * This constructor takes the control DIV as an argument.
       * @constructor
       */


      function CenterControl(controlDiv, map) {

        // Set CSS for the control border.

        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        /*
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'マップ上に表示する';
        controlUI.appendChild(controlText);

        controlUI.addEventListener('click', function() {

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                  setMarker(JSON.parse(this.responseText));
               }
               //for (let i = 0; i < chk1.length; i++) {
                // if ( this.readyState == 4 && this.status == 200 && chk1[i].checked) {//(chk1[i].checked === true)と同じ
                //   setMarker(JSON.parse(this.responseText));
                // }
               //}
          };
          xhttp.open("GET", "api/map?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();

        });
        */

      }


      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          /*center: {lat: 35.681236, lng: 139.767125},*/
           center: {lat: 35.323791, lng: 139.54749},
          zoom: 9

        });

        var centerControlDiv = document.createElement('div');
        var centerControl = new CenterControl(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

        /*位置情報を表示する*/

              function success(pos) {
                 var crd = pos.coords;



        　　　　　/*現在地*/
                 var currentPos = new google.maps.LatLng( crd.latitude, crd.longitude);


                 if ( marker != undefined )  marker.setMap(null);
                 if ( circle != undefined )  circle.setMap(null);

                 /* 現在位置にマーカーを設定 */
                 marker = new google.maps.Marker({
                    position: currentPos, //マーカーの位置（必須）
        			      map: map //マーカーを表示する地図
                  });

                 /* 位置の誤差領域 */
　　　　　　　　　　 /*
                 circle = new google.maps.Circle({
                    strokeColor: "#3333FF",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#3333FF",
                    fillOpacity: 0.35,
                    map: map,
                    draggable: false,
                    center: currentPos,
                    radius: crd.accuracy   /* 位置の誤差(m)を半径とする */
                 //});
                 var center_now = {lat: 35.323791, lng: 139.54749};

                 map.setCenter(center_now);
                 map.setZoom(10);
                 //setInfo(crd);

                 /*鎌倉市を中心に円を表示する*/
                 var myCircle_330 = new google.maps.Circle({
                   strokeColor: '#028760',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#028760',
                   fillOpacity: 0.35,
                   map: map,
                   center: currentPos,
                   //center: {lat: 35.323791, lng: 139.54749},
                   radius: 330  //半径1000メートル
                 });

                 var myCircle_1000 = new google.maps.Circle({
                   strokeColor: '#FF0000',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#FF0000',
                   fillOpacity: 0.35,
                   map: map,
                   //center: {lat: 35.323791, lng: 139.54749},
                   center: currentPos,
                   radius: 1000  //半径1000メートル
                 });

                 var myCircle_2000 = new google.maps.Circle({
                   strokeColor: '#0095d9',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#0095d9',
                   fillOpacity: 0.35,
                   map: map,
                   //center: {lat: 35.323791, lng: 139.54749},
                   center: currentPos,
                   radius: 2000  //半径2000メートル
                 });

              }

              navigator.geolocation.getCurrentPosition(success);
      }
　　　

      function setMarker(mapJson) {
        /*一覧表示*/
        tableEle = document.getElementById('data-table');


         for(var i = 0; i < mapJson.length; i++){

           var tr = document.createElement('tr');
           var td = document.createElement('td');


           /*カテゴリー検索*/

           for(var j=0; j < chk1.length; j++){
             if(chk1[j].checked==true && chk1[j].value==mapJson[i].genre){
               //for(var k=0; k < mapJson.length; k++){
                 //if(i!=k && mapJson[k].name == mapJson[i].name){
                if(mapJson[i].name == mapJson[i+1].name){
                   //td.innerHTML = mapJson[i].ranking + ' : ' +mapJson[i].name +mapJson[k].genre + ',' + mapJson[i].genre;
                   td.innerHTML = mapJson[i].number + ' : ' +mapJson[i].name +mapJson[i].genre + ',' + mapJson[i+1].genre;
                   i=i+1;
                   //td.innerHTML = mapJson[i].ranking + ' : ' +"<button type="button">"+ mapJson[i].name +"</button>"+mapJson[k].genre + ',' + mapJson[i].genre;
                   //i=k+1;
                 }else{
                   td.innerHTML = mapJson[i].number + ' : ' + mapJson[i].name +mapJson[i].genre;

                 }
             }

             tr.appendChild(td);
             tableEle.appendChild(tr);

         }
       }

          /*一覧表示ここまで*/

       /*一情報ウィンドウ*/
       for(var i = 0; i < mapJson.length; i++){
         for(var j=0; j < chk1.length; j++){
           if(chk1[j].checked==true && chk1[j].value==mapJson[i].genre){

             var contentStr = '<p>'+mapJson[i].name+ '<br>' + mapJson[i].address+'</p>'+'<br>'+
             '<a href="{% url 'list-post' %}">'+'口コミを見る'+'</a>'+'<br>'+'<a href="{% url 'list-itinerary-all' %}">'+'このスポットが入った旅行記録を見る'+'</a>';

             var infowindow = new google.maps.InfoWindow({

               content: contentStr
             });


             if(mapJson[i].genre == 'ごはん'){
               var marker = new google.maps.Marker({
                 position: {lat: Number(mapJson[i].lat), lng: Number(mapJson[i].lng)},
                 map: map,
                 icon: {
                   fillColor: "#ffdc00",//塗り潰し色
                   scale: 10,
                   fillOpacity: 0.8,
                   //strokeColor: "#ff6633",              //枠の色
     		          strokeWeight: 1.0,
               		path: google.maps.SymbolPath.CIRCLE, //円を指定
                },
                 label: {
                  text: mapJson[i].number,                           //ラベル文字
               		color: '#000000',                    //文字の色
               		fontSize: '20px'                     //文字のサイズ
     		         }
               });

             }else if(mapJson[i].genre == '神社・寺院'){
               var marker = new google.maps.Marker({
                 position: {lat: Number(mapJson[i].lat), lng: Number(mapJson[i].lng)},
                 map: map,
                 icon: {
                   fillColor: "#3333FF",//塗り潰し色
                   scale: 10,
                   fillOpacity: 0.8,
                   //strokeColor: "#ff6633",              //枠の色
     		           strokeWeight: 1.0,
               		 path: google.maps.SymbolPath.CIRCLE, //円を指定
                  //radius: crd.accuracy /* 位置の誤差(m)を半径とする */

                },
                label: {
                 text: mapJson[i].number,                           //ラベル文字
                 color: '#000000',                    //文字の色
                 fontSize: '20px'                     //文字のサイズ
                }
               });
             }else if(mapJson[i].genre == 'カフェ・パン・スイーツ・お菓子'){
               var marker = new google.maps.Marker({
                 position: {lat: Number(mapJson[i].lat), lng: Number(mapJson[i].lng)},
                 map: map,
                 icon: {
                   fillColor: "#ff0000",//塗り潰し色
                   scale: 10,
                   fillOpacity: 0.8,
                   //strokeColor: "#ff6633",              //枠の色
     		           strokeWeight: 1.0,
               		 path: google.maps.SymbolPath.CIRCLE, //円を指定
                  //radius: crd.accuracy /* 位置の誤差(m)を半径とする */

                },
                label: {
                 text: mapJson[i].number,                           //ラベル文字
                 color: '#000000',                    //文字の色
                 fontSize: '20px'                     //文字のサイズ
                }
               });
             }

             bindInfoWindow(marker, map, infowindow);

          }
         }
       }

      }

      function bindInfoWindow(marker, map, infowindow) {
        marker.addListener('click', function() {
          infowindow.open(map, this);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiugR_kRyfmu3OjnFbB1QL0qcdB-pfSb0&callback=initMap"
    async defer></script>

  </body>
</html>
