<!--現在地とピンの表示-->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        weight: 30%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        border-style: solid;
        margin-left: 30px;
      }
      .container {
        display:flex;
        gap: 650px;

      }
      .container2{
        margin-right: 0px;
        border-style: solid;
      }

    </style>
  </head>
  <body>
   <div id="map"></div>
    <div class="container">
      <div>
        <table id='data-table'>
          <tr><th>スポット名</th></tr>
        </table>
      </div>
      <div class="container2">
        <div>
          <ul class="class1">
            <li><span style="color: #ffdc00; font-size: 18px;">●</span>：ご飯</li>
            <li><span style="color: #ff0000; font-size: 18px;">●</span>：カフェ・パン・スイーツ・お菓子</li>
            <li><span style="color: #00bfff; font-size: 18px;">●</span>：イベント</li>
            <li><span style="color: #ee7800; font-size: 18px;">●</span>：風景・景色</li>
            <li><span style="color: #ffa0ed; font-size: 18px;">●</span>：アート・カルチャー</li>
            <li><span style="color: #a260bf; font-size: 18px;">●</span>：お土産・お酒・雑貨</li>
            <li><span style="color: #3333FF; font-size: 18px;">●</span>：神社・寺院</li>
            <li><span style="color: #008000; font-size: 18px;">●</span>：アクティビティ・体験・その他施設</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>緑：徒歩5分圏内</li>
            <li>赤：徒歩15分圏内</li>
            <li>青：徒歩30分圏内</li>
          </ul>
        </div>
      </div>
    </div>


    <script>
      var map;
      var marker;
      var circle;

      /**
       * The CenterControl adds a control to the map that recenters the map on
       * Chicago.
       * This constructor takes the control DIV as an argument.
       * @constructor
       */

      function CenterControl(controlDiv, map) {

        // Set CSS for the control border.

        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Map Search';
        controlUI.appendChild(controlText);

        controlUI.addEventListener('click', function() {

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                 setMarker(JSON.parse(this.responseText));
               }
          };
          xhttp.open("GET", "api/map?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();

        });

      }


      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          /*center: {lat: 35.681236, lng: 139.767125},*/
           center: {lat: 35.323791, lng: 139.54749},
          zoom: 7

        });

        var centerControlDiv = document.createElement('div');
        var centerControl = new CenterControl(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

        /*位置情報を表示する*/

              function success(pos) {
                 var crd = pos.coords;



        　　　　　/*現在地*/
                 var currentPos = new google.maps.LatLng( crd.latitude, crd.longitude);


                 if ( marker != undefined )  marker.setMap(null);
                 if ( circle != undefined )  circle.setMap(null);

                 /* 現在位置にマーカーを設定 */
                 marker = new google.maps.Marker({
                    position: currentPos, //マーカーの位置（必須）
        			      map: map //マーカーを表示する地図
                  });

                 /* 位置の誤差領域 */
                 /*
                 circle = new google.maps.Circle({
                    strokeColor: "#3333FF",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#3333FF",
                    fillOpacity: 0.35,
                    map: map,
                    draggable: false,
                    center: currentPos,
                    radius: crd.accuracy   /* 位置の誤差(m)を半径とする */
                 //});

                 //map.setCenter(currentPos);
                 //map.setZoom(10);
                 //setInfo(crd);

                 /*鎌倉市を中心に円を表示する*/
                 var myCircle_330 = new google.maps.Circle({
                   strokeColor: '#028760',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#0287600',
                   fillOpacity: 0.35,
                   map: map,
                   center: currentPos,
                   //center: {lat: 35.323791, lng: 139.54749},
                   radius: 330  //半径1000メートル
                 });

                 var myCircle_1000 = new google.maps.Circle({
                   strokeColor: '#FF0000',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#FF0000',
                   fillOpacity: 0.35,
                   map: map,
                   //center: {lat: 35.323791, lng: 139.54749},
                   center: currentPos,
                   radius: 1000  //半径1000メートル
                 });

                 var myCircle_2000 = new google.maps.Circle({
                   strokeColor: '#0095d9',
                   strokeOpacity: 0.8,
                   strokeWeight: 2,
                   fillColor: '#0095d9',
                   fillOpacity: 0.35,
                   map: map,
                   //center: {lat: 35.323791, lng: 139.54749},
                   center: currentPos,
                   radius: 2000  //半径1000メートル
                 });

              }

              navigator.geolocation.getCurrentPosition(success);

      }
　　　

      function setMarker(mapJson) {

       /*一覧表示*/
       var tableEle = document.getElementById('data-table');

        for(var i = 0; i < mapJson.length; i++){

          var tr = document.createElement('tr');
          var td = document.createElement('td');
          td.innerHTML = mapJson[i].name +'(' + mapJson[i].ranking +')' ;
          tr.appendChild(td);


        tableEle.appendChild(tr);
       /*一覧表示ここまで*/


          var contentStr = '<p>'+mapJson[i].name+ '<br>' + mapJson[i].address+'</p>'+'<br>'+
          '<a href="{% url 'list-post' %}">'+'口コミを見る'+'</a>'+'<br>'+'<a href="{% url 'list-itinerary-all' %}">'+'このスポットが入った旅行記録を見る'+'</a>';

          var infowindow = new google.maps.InfoWindow({

            content: contentStr
          });

          if(mapJson[i].genre == 'ご飯'){
            var marker = new google.maps.Marker({
              position: {lat: Number(mapJson[i].lat), lng: Number(mapJson[i].lng)},
              map: map,
              icon: {
                fillColor: "#ffdc00",//塗り潰し色
                scale: 10,
                fillOpacity: 0.8,
                //strokeColor: "#ff6633",              //枠の色
  		          strokeWeight: 1.0,
            		path: google.maps.SymbolPath.CIRCLE, //円を指定
              }
            });

          }else if(mapJson[i].genre == '神社・寺院'){
            var marker = new google.maps.Marker({
              position: {lat: Number(mapJson[i].lat), lng: Number(mapJson[i].lng)},
              map: map,
              icon: {
                fillColor: "#3333FF",//塗り潰し色
                scale: 10,
                fillOpacity: 0.8,
                //strokeColor: "#ff6633",              //枠の色
  		          strokeWeight: 1.0,
            		path: google.maps.SymbolPath.CIRCLE, //円を指定

              }
            });
          }

          bindInfoWindow(marker, map, infowindow);


        }
      }

      function bindInfoWindow(marker, map, infowindow) {
        marker.addListener('click', function() {
          infowindow.open(map, this);
        });
      }






    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiugR_kRyfmu3OjnFbB1QL0qcdB-pfSb0&callback=initMap"
    async defer></script>


    <a href="{% url 'topA' %}">ホーム画面へ戻る</a>








  </body>
</html>
